PORT=8085

# recommendation_db 접속 정보
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=recommendation_db

# AI Service (Python Flask) 주소
AI_SERVICE_URL=http://ai-svc:8086

# 내부 서비스 통신용
CHALLENGE_SERVICE_URL=http://challenge-svc:8084
USER_SERVICE_URL=http://user-svc:8082
COMMUNITY_SERVICE_URL=http://community-svc:8083

GATEWAY_URL=http://gateway-svc:3000

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
